@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
}

a.active div {
  background-color: #dc93f6;
}

::backdrop {
  background-color: black;
  opacity: 0.5;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  height: 80px;
  font-family: "Fredoka";
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
}

th,
td {
  padding: 10px;
  text-align: center;
}

tr {
  height: 55px;
}

.customScroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 30px;
}

.customScroll::-webkit-scrollbar-track {
  border-radius: 30px;
}

.customScroll:hover::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

.splitHome {
  /* background-repeat: repeat; */
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/splitHomeBg.jpg");
}

.splitBox {
  background-image: url("./assets/splitBox.png");
  background-repeat: repeat;
  background-size: contain;
}
